.home-container{
    display: flex;
    background: url(/public/2d378eac82bcdb7c4b0b12b576f0edab.png); 
    
    
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}