.header-container{
    display: flex;
    height: 14vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(230, 152, 42);
}

.header-nome{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff2df;
    height: 50%;
    width: 100%;
    font-family: "NomeFonte";
    font-weight: 300;
    font-size: 60px;
    transition: 1s;
}

.header-job{
    display: flex;
    
    color: #fff0db;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    font-family: "NomeFonte";
    font-weight: 300;
    font-size: 40px;
    transition: 1s;
}